footer.pt-5.pb-4
  .container-xxl
    .row.align-items-end
      .col-6
        .footer__logo
          h2
            a.text-white.td(href='/') Bookie
      .col-6.text-end.rmg.mgn
        ul.list-inline.footer-links
          li.list-inline-item
            a.text-white.td(href='#') Information
          li.list-inline-item
            a.text-white.td(href='') Careers
          li.list-inline-item
            a.text-white.td(href='#') Our Apps
          li.list-inline-item
            a.text-white.td(href='#') Contact Us
        p.footer__copyright.text-white.td
          | &copy; by Nathan Ohere. All rights reserved.
