extends base(href="")

block content
    .login-wrapper.py-5.home-wrapper
        .container-xxl
            .row
                .col-12
                    .login-card
                        h3.text-center.mb-3 Login
                        form.d-flex.flex-column.gaps-10.form(action='' method='post')
                            div
                                label.form-label.marg-label(for='email') Email or username
                                input#email.form-control(type='email' placeholder='Email or username' required='')
                            .mt-1
                                label.form-label.marg-label(for='password') Password
                                input#password.form-control(type='password' placeholder='Password' required='' minlength='8')
                            .mt-3
                                button.button2(type='submit') Login
                            div
                                a(href='http://') Forgot your Password