extends baseForm

block content

    .login-wrapper.py-5.home-wrapper
        .container-xxl
            .row
                .col-12
                    .login-card
                        h3.text-center.mb-3 Reset Your Password
                        p.mt-2.mb-3
                            | We will send you an email to reset your password
                        form.fgtPass.d-flex.flex-column.gaps-10(action='' method='post')
                            div
                                input#email.form-control(type='email' placeholder='Email')
                            .mt-3.d-flex.flex-column.justify-content-center.gaps-10.align-items-center
                                button.button2(type='submit') Send Reset Link