extends baseForm

block content 


    .login-wrapper.py-5.home-wrapper
        .container-xxl
            .row
                .col-12
                    .login-card
                        h3.text-center.mb-3 Reset Password
                        form.rstPass.d-flex.flex-column.gaps-10(action='' method='post')
                            div
                                input#password.form-control(type='password' required='' placeholder='Password' minlength='8')
                            .mt-1
                                input#confirmPassword.form-control(type='password' required='' placeholder='Confirm Password' minlength='8')
                                input#resetToken(type='hidden' value=`${token}`)
                            .mt-3
                                button.button2(type='submit') Reset password